# =========================
# APP
# =========================
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
TZ=America/Sao_Paulo
JAVA_OPTS=-Xms256m -Xmx512m

# =========================
# DATABASE (PostgreSQL)
# =========================
DB_HOST=localhost
DB_PORT=5432
DB_PORT_EXPOSE=5434
DB_NAME=pigbit
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL_MODE=disable

# =========================
# REDIS
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PORT_EXPOSE=6379
REDIS_PASSWORD=
REDIS_TIMEOUT=2000

# =========================
# EMAIL
# =========================
MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=no-reply@pigbit.local
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true

# =========================
# API / INTEGRATIONS
# =========================
JWT_SECRET=
JWT_EXP_MINUTES=1440
CNPJ_API_URL=https://receitaws.com.br/v1/cnpj
NOWPAYMENTS_BASE_URL=https://api.nowpayments.io
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
WITHDRAWAL_ALERT_THRESHOLD_PERCENT=200
